<li class="px-32 pt-40 pb-24 bg-very-dark-magenta rounded-8 xl:h-234">
  <div class="flex flex-row items-center mb-24">
    <img class="w-40 h-40 rounded-full mr-24" src="{{ testimonial.avatar }}" alt="{{ testimonial.name }}">
    <div>
      <h3 class="text-16 font-700 tracking-06 text-white mb-4">{{ testimonial.name }}</h3>
      <p class="text-16 font-400 tracking-06 text-soft-pink">Verified Buyer</p>
    </div>
  </div>
  <p class="text-16-quote font-500 text-white">&#8220; {{ testimonial.quote }} &#8221;</p>
</li>
