<li class="w-full h-auto p-16 rounded-8 bg-light-grayish-magenta text-center md:flex md:flex-row md:items-center md:px-32 xl:w-450">
  <div class="flex flex-row justify-center items-center space-x-8 mb-8 md:mr-32">
    <svg class="w-16 h-16"><use href="#icon-star" /></svg>
    <svg class="w-16 h-16"><use href="#icon-star" /></svg>
    <svg class="w-16 h-16"><use href="#icon-star" /></svg>
    <svg class="w-16 h-16"><use href="#icon-star" /></svg>
    <svg class="w-16 h-16"><use href="#icon-star" /></svg>
  </div>
  <p class="text-16 font-500 tracking-06 text-very-dark-magenta">Rated 5 Stars in {{ company }}</p>
</li>
